$def with(title)
$var title: $title

<div class="row offset1">
<div class="span4">
<h3>Project Requirement Document List </h3>
</div>
<div class="span7"></div>
</div>
<div class="row offset1">
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>#</th><th>Project Name</th><th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td><td><a href="/prd/edit/1/">安居客看房助手1.0</a></td><td>2013-10-16 18:00:00</td>
        </tr>
        <tr>
            <td>2</td><td>安居客房价工具</td><td>2013-10-16 18:00:00</td>
        </tr>
        <tr>
            <td>3</td><td>金铺加入安居客应用</td><td>2013-10-16 18:00:00</td>
        </tr>
    </tbody>
</table>
</div>
