$def with(data,title)
$var title: $title

<div class="row">
    <div class="span11 offset1">
		<h3>本工具可以方便进行图片的大小缩放 - 使用Python的PIL库</h3>
		<hr/>
	</div>
</div>

<div class="row">
	<div class="span5 offset1">
		<form id="imageHandleForm" action="" method="post" enctype="multipart/form-data" action="/upload" required>
			<input type="file" name='imagefile' id="imagefile" />
			<div class="controls">
				<button id="uploadImage" type="button" class="btn btn-default">上传图片</button>
			</div>
			<div class="controls">
				<div id="displayImage"></div>
			</div>
		</form>
	</div>

	<div class="span4">
		<div class="form-horizontal" role="form">
			<div class="control-group">
				<div class="controls">
					<input type="text" class="form-control" name="width" placeholder="请输入宽度" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="text" class="form-control" name="height" placeholder="请输入高度" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn btn-default">转换图像</button>
				</div>
			</div>
		</div>
	</div>
</div>
